In [20]:
import pandas as pd
import tensorflow as tf

In [21]:
filenames = ['./season_20.csv', './season_19.csv', './season_18.csv']

csv = pd.read_csv(filenames[0])
csv

,name,wins,apps,win ratio,9/12/2019,16/12/2019,6/1/2019,20/1/2020,27/1/2020,3/2/2020,...,12/7/2021,19/7/2021,27/7/2021,9/8/2021,16/8/2021,23/8/2021,30/8/2021,6/9/2021,13/9/2021,20/9/2021
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Darren,20.0,31.0,64.52%,0.0,0.5,1.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,NaN,1.0,NaN,NaN,NaN
2,Mark,12.0,34.0,35.29%,1.0,0.5,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN
3,Paul,12.0,29.0,41.38%,1.0,0.5,NaN,NaN,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,NaN,NaN
4,Eoin Delaney,2.0,3.0,66.67%,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Conor Kk,15.0,31.0,48.39%,0.0,0.5,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN
6,Clarkey,13.0,32.0,40.63%,0.0,0.5,NaN,0.0,1.0,1.0,...,1.0,0.0,0.0,NaN,NaN,1.0,0.0,0.0,NaN,NaN
7,Gav,9.5,21.0,45.24%,1.0,0.5,1.0,1.0,0.0,0.0,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,Tim,13.5,35.0,38.57%,1.0,NaN,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN
9,Conor Mc,24.0,33.0,72.73%,1.0,0.5,1.0,NaN,NaN,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN
10,Jonie,4.0,15.0,26.67%,0.0,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Greener,12.0,28.0,42.86%,0.0,0.5,NaN,0.0,0.0,0.0,...,NaN,1.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,NaN
12,Owen Merry,4.5,6.0,75.00%,NaN,NaN,0.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Andy Ricci,1.5,2.0,75.00%,NaN,0.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Peter Hogan,12.0,23.0,52.17%,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN
15,Conor J,4.0,5.0,80.00%,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Brian,4.0,4.0,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ed,0.0,1.0,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Gary Hogan,1.0,4.0,25.00%,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,Shane,4.0,5.0,80.00%,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,0.0,NaN,1.0,1.0,NaN,NaN
20,Michael,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,NaN,NaN

In [22]:
total_player_list = []
flipped_dfs = []

for filename in filenames:
    csv = pd.read_csv(filename)

    # remove rows and columns we don't need
    cleaned_csv = csv.dropna(subset=['name'])
    cleaned_csv = cleaned_csv.drop(['wins', 'apps', 'win ratio'], 1)

    #flip it to be the way we want
    flipped = cleaned_csv.set_index('name').transpose()

    #drop date column for now (has been renamed 'name' in the flip)
    # I might use this in future work, but not now
    flipped_dfs.append(flipped)
    total_player_list = total_player_list + list(flipped.columns)

total_player_list = list(set(total_player_list)) # make to a unique list

print(total_player_list)

## Add to each frame, so that they all have the same columns
for fd in flipped_dfs:
    for name in total_player_list:
        if name not in list(fd.columns):
            fd.insert(len(fd.columns), name, [float("NaN")] * len(fd), True) 
    
flipped_dfs

flipped = pd.concat(flipped_dfs)
flipped

['Josh', 'Dylan', 'big Dave', 'Paul', 'Brian', 'Gav', 'Tom', 'Mark', 'Clarkey', 'Shane', 'Conor Mc', 'Andy Ricci', 'Tim', 'Owen Merry', 'Darren', 'Eoin Delaney', 'Conor J', 'Duffer', 'Greener', 'Pascal', 'Peter Hogan', 'Conor Kk', 'Owen greenersfriend', 'Gary Hogan', 'Jonie', 'Barron', 'Ed', 'Sean Douglas', 'Michael']

FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

name,Darren,Mark,Paul,Eoin Delaney,Conor Kk,Clarkey,Gav,Tim,Conor Mc,Jonie,...,Michael,Josh,Dylan,big Dave,Tom,Duffer,Pascal,Owen greenersfriend,Barron,Sean Douglas
9/12/2019,0.0,1.0,1.0,NaN,0.0,0.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16/12/2019,0.5,0.5,0.5,NaN,0.5,0.5,0.5,NaN,0.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6/1/2019,1.0,1.0,NaN,0.0,1.0,NaN,1.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20/1/2020,0.0,1.0,NaN,NaN,1.0,0.0,1.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27/1/2020,1.0,0.0,1.0,NaN,0.0,1.0,0.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/11/2018,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
19/11/2018,0.0,1.0,NaN,1.0,1.0,0.0,1.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
26/11/2018,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3/12/2018,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/12/2018,1.0,1.0,0.0,NaN,0.0,1.0,0.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [23]:
player_names = list(flipped.columns) 
player_names

['Darren',
 'Mark',
 'Paul',
 'Eoin Delaney',
 'Conor Kk',
 'Clarkey',
 'Gav',
 'Tim',
 'Conor Mc',
 'Jonie',
 'Greener',
 'Owen Merry',
 'Andy Ricci',
 'Peter Hogan',
 'Conor J',
 'Brian',
 'Ed',
 'Gary Hogan',
 'Shane',
 'Michael',
 'Josh',
 'Dylan',
 'big Dave',
 'Tom',
 'Duffer',
 'Pascal',
 'Owen greenersfriend',
 'Barron',
 'Sean Douglas']

In [24]:
RANDOMER = "Randomer"

def formRandomerName(num: int) -> str:
    return RANDOMER + str(num)
    

## work out how many randomers we need

totals = []
for index, row in flipped.iterrows():
    losers = list(row.array).count(0)
    winners = list(row.array).count(1)
    drawers =  list(row.array).count(0.5)
    total_players = losers + winners + drawers
    totals.append(total_players)

print("average players per game: %f" % (sum(totals)/len(totals)))
min_players = min(totals)
randomers_needed = 10-min_players
print("Minimum numbers of players present in a game: %i" % min_players)
print("Maximum number of randomers in a game: %i" % randomers_needed)

for i in range(randomers_needed):
    randomer_name =  formRandomerName(i)
    flipped[randomer_name] = float("NaN")


# Now populate results for these randomers
for index, row in flipped.iterrows():
    losers = list(row.array).count(0)
    winners = list(row.array).count(1)
    drawers =  list(row.array).count(0.5)
    total_players = losers + winners + drawers
    totals.append(total_players)
    
    randomer_index = 0
    if drawers != 0:
        for i in range(10-drawers):
            randomer_name =  formRandomerName(randomer_index)
            row[randomer_name] = 0.5
            randomer_index+=1
        continue #If its a draw, there should be no winners or losers

    for i in range(5-winners):
        randomer_name =  formRandomerName(randomer_index)
        row[randomer_name] = 1
        randomer_index+=1
        
    for i in range(5-losers):
        randomer_name =  formRandomerName(randomer_index)
        row[randomer_name] = 0
        randomer_index+=1
        
# Check that everything sums up ok, print if it doesn't
for index, row in flipped.iterrows():
    losers = list(row.array).count(0)
    winners = list(row.array).count(1)
    drawers =  list(row.array).count(0.5)
    total_players = losers + winners + drawers
    if total_players != 10:
        print(row)

player_names = list(flipped.columns) 
        
flipped

average players per game: 9.237113
Minimum numbers of players present in a game: 0
Maximum number of randomers in a game: 10

name,Darren,Mark,Paul,Eoin Delaney,Conor Kk,Clarkey,Gav,Tim,Conor Mc,Jonie,...,Randomer0,Randomer1,Randomer2,Randomer3,Randomer4,Randomer5,Randomer6,Randomer7,Randomer8,Randomer9
9/12/2019,0.0,1.0,1.0,NaN,0.0,0.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16/12/2019,0.5,0.5,0.5,NaN,0.5,0.5,0.5,NaN,0.5,NaN,...,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6/1/2019,1.0,1.0,NaN,0.0,1.0,NaN,1.0,0.0,1.0,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20/1/2020,0.0,1.0,NaN,NaN,1.0,0.0,1.0,1.0,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27/1/2020,1.0,0.0,1.0,NaN,0.0,1.0,0.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/11/2018,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19/11/2018,0.0,1.0,NaN,1.0,1.0,0.0,1.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26/11/2018,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3/12/2018,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/12/2018,1.0,1.0,0.0,NaN,0.0,1.0,0.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
import math
import random

def is_picked(value: float, winning_team: bool) -> float:
    if math.isnan(value):
        return 0.0
    if value == 0.5:
        #draw game, we will assign these later
        return value
    if winning_team:
        return value
    else:
        return 1-value
            

# we call the winners the white team, and the losers the black team
for player in player_names:
    flipped[player+'_white'] = flipped[player].apply(lambda x:is_picked(x, True))
    flipped[player+'_black'] = flipped[player].apply(lambda x:is_picked(x, False))

#show how we decomposed this
flipped[['Paul', 'Paul_white', 'Paul_black']]

name        Paul  Paul_white  Paul_black
9/12/2019    1.0         1.0         0.0
16/12/2019   0.5         0.5         0.5
6/1/2019     NaN         0.0         0.0
20/1/2020    NaN         0.0         0.0
27/1/2020    1.0         1.0         0.0
...          ...         ...         ...
5/11/2018    0.0         0.0         1.0
19/11/2018   NaN         0.0         0.0
26/11/2018   1.0         1.0         0.0
3/12/2018    1.0         1.0         0.0
10/12/2018   0.0         0.0         1.0

[97 rows x 3 columns]

In [26]:
def get_result(row):
    if 0.5 in list(row):
        return 0.5
    else:
        return 1.0


#add result. These are all white wins, unless they are draws
flipped['result'] = flipped.apply(get_result , axis=1)


flipped[['Paul', 'Paul_white', 'Paul_black', 'result']]

name        Paul  Paul_white  Paul_black  result
9/12/2019    1.0         1.0         0.0     1.0
16/12/2019   0.5         0.5         0.5     0.5
6/1/2019     NaN         0.0         0.0     1.0
20/1/2020    NaN         0.0         0.0     1.0
27/1/2020    1.0         1.0         0.0     1.0
...          ...         ...         ...     ...
5/11/2018    0.0         0.0         1.0     1.0
19/11/2018   NaN         0.0         0.0     1.0
26/11/2018   1.0         1.0         0.0     1.0
3/12/2018    1.0         1.0         0.0     1.0
10/12/2018   0.0         0.0         1.0     1.0

[97 rows x 4 columns]

In [27]:
#fill in draws, randomly picking teams, as we don't have this info
import random

for index in flipped.index:
    if flipped.loc[index,'result'] == 0.5:
        white_players = 0
        #pick 5 guys who were there for white team
        while white_players < 5:
            player = random.choice(player_names)
            if flipped.loc[index, player+'_white'] == 0.5:
                flipped.loc[index, player+'_white'] = 1.0
                flipped.loc[index, player+'_black'] = 0.0
                white_players += 1
        #put all the others playing into the black team
        for player in player_names:
            if flipped.loc[index, player+'_black'] == 0.5:
                flipped.loc[index, player+'_white'] = 0.0
                flipped.loc[index, player+'_black'] = 0.1
                white_players += 1
            
print(flipped[['Paul', 'Paul_white', 'Paul_black', 'result']])

flipped

name        Paul  Paul_white  Paul_black  result
9/12/2019    1.0         1.0         0.0     1.0
16/12/2019   0.5         0.0         0.1     0.5
6/1/2019     NaN         0.0         0.0     1.0
20/1/2020    NaN         0.0         0.0     1.0
27/1/2020    1.0         1.0         0.0     1.0
...          ...         ...         ...     ...
5/11/2018    0.0         0.0         1.0     1.0
19/11/2018   NaN         0.0         0.0     1.0
26/11/2018   1.0         1.0         0.0     1.0
3/12/2018    1.0         1.0         0.0     1.0
10/12/2018   0.0         0.0         1.0     1.0

[97 rows x 4 columns]

name,Darren,Mark,Paul,Eoin Delaney,Conor Kk,Clarkey,Gav,Tim,Conor Mc,Jonie,...,Randomer5_black,Randomer6_white,Randomer6_black,Randomer7_white,Randomer7_black,Randomer8_white,Randomer8_black,Randomer9_white,Randomer9_black,result
9/12/2019,0.0,1.0,1.0,NaN,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16/12/2019,0.5,0.5,0.5,NaN,0.5,0.5,0.5,NaN,0.5,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
6/1/2019,1.0,1.0,NaN,0.0,1.0,NaN,1.0,0.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20/1/2020,0.0,1.0,NaN,NaN,1.0,0.0,1.0,1.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
27/1/2020,1.0,0.0,1.0,NaN,0.0,1.0,0.0,1.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/11/2018,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19/11/2018,0.0,1.0,NaN,1.0,1.0,0.0,1.0,1.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26/11/2018,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3/12/2018,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10/12/2018,1.0,1.0,0.0,NaN,0.0,1.0,0.0,0.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
## WEATHER

from src.weather.weather_service import WeatherService
from datetime import datetime, timedelta

FORMAT = '%d/%m/%Y %H:%M'

BELFIELD_LATITUDE = 53.3067
BELFIELD_LONGITUDE = -6.2210


weather_service = WeatherService(BELFIELD_LATITUDE, BELFIELD_LONGITUDE)
weather_service.set_station("03969")

def formStartEndTimes(datestr: str):
    if datestr[2] != '/':
        datestr = '0' + datestr
    if datestr[5] != '/':
        datestr = datestr[0:3] +'0' + datestr[3:]
    
    datestr = datestr + ' 21:00' # our matches have always started at 9pm
    start = datetime.strptime(datestr, FORMAT)

    end = start + timedelta(hours=1)

    return start, end
    

def getRainfall(row):
    datestr = row.name
    start, end = formStartEndTimes(datestr)
    weather = weather_service.get_weather(start, end)
    return weather.rain

flipped['rainfall'] = flipped.apply(getRainfall, axis=1)

In [29]:
#drop originals
white_wins = flipped.drop(player_names, 1)

FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [30]:
#make black wins dataset, which are the same results, but with the labels flipped, and black always winning
# this is important to make sure the algo doesn't always think that the white team wins every time!!!

mapping = {}
for player in player_names:
    mapping[player+ '_white'] = player + '_black'
    mapping[player+ '_black'] = player + '_white'
        

black_wins = white_wins.rename(columns=mapping)
black_wins['result'] = black_wins['result'].apply(lambda x:1-x)

black_wins

name,Darren_black,Darren_white,Mark_black,Mark_white,Paul_black,Paul_white,Eoin Delaney_black,Eoin Delaney_white,Conor Kk_black,Conor Kk_white,...,Randomer6_black,Randomer6_white,Randomer7_black,Randomer7_white,Randomer8_black,Randomer8_white,Randomer9_black,Randomer9_white,result,rainfall
9/12/2019,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16/12/2019,0.0,0.1,1.0,0.0,0.0,0.1,0.0,0.0,0.0,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0
6/1/2019,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20/1/2020,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27/1/2020,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/11/2018,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
19/11/2018,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26/11/2018,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/12/2018,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10/12/2018,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
combined = pd.concat([white_wins, black_wins])

#index has  dupes after the combine, need to remove these
combined.index = range(len(combined))
combined

name,Darren_white,Darren_black,Mark_white,Mark_black,Paul_white,Paul_black,Eoin Delaney_white,Eoin Delaney_black,Conor Kk_white,Conor Kk_black,...,Randomer6_white,Randomer6_black,Randomer7_white,Randomer7_black,Randomer8_white,Randomer8_black,Randomer9_white,Randomer9_black,result,rainfall
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.1,1.0,0.0,0.0,0.1,0.0,0.0,0.0,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
190,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
192,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
## Verify that there are no Nans in the frame, as this will cause serious issues

for col in list(combined.columns):
    print(col +
    " type: " + str(combined.dtypes[col]) +
    " Nan count: " + str(combined[col].isna().sum()))

Darren_white type: float64 Nan count: 0
Darren_black type: float64 Nan count: 0
Mark_white type: float64 Nan count: 0
Mark_black type: float64 Nan count: 0
Paul_white type: float64 Nan count: 0
Paul_black type: float64 Nan count: 0
Eoin Delaney_white type: float64 Nan count: 0
Eoin Delaney_black type: float64 Nan count: 0
Conor Kk_white type: float64 Nan count: 0
Conor Kk_black type: float64 Nan count: 0
Clarkey_white type: float64 Nan count: 0
Clarkey_black type: float64 Nan count: 0
Gav_white type: float64 Nan count: 0
Gav_black type: float64 Nan count: 0
Tim_white type: float64 Nan count: 0
Tim_black type: float64 Nan count: 0
Conor Mc_white type: float64 Nan count: 0
Conor Mc_black type: float64 Nan count: 0
Jonie_white type: float64 Nan count: 0
Jonie_black type: float64 Nan count: 0
Greener_white type: float64 Nan count: 0
Greener_black type: float64 Nan count: 0
Owen Merry_white type: float64 Nan count: 0
Owen Merry_black type: float64 Nan count: 0
Andy Ricci_white type: float64 Nan count: 0
Andy Ricci_black type: float64 Nan count: 0
Peter Hogan_white type: float64 Nan count: 0
Peter Hogan_black type: float64 Nan count: 0
Conor J_white type: float64 Nan count: 0
Conor J_black type: float64 Nan count: 0
Brian_white type: float64 Nan count: 0
Brian_black type: float64 Nan count: 0
Ed_white type: float64 Nan count: 0
Ed_black type: float64 Nan count: 0
Gary Hogan_white type: float64 Nan count: 0
Gary Hogan_black type: float64 Nan count: 0
Shane_white type: float64 Nan count: 0
Shane_black type: float64 Nan count: 0
Michael_white type: float64 Nan count: 0
Michael_black type: float64 Nan count: 0
Josh_white type: float64 Nan count: 0
Josh_black type: float64 Nan count: 0
Dylan_white type: float64 Nan count: 0
Dylan_black type: float64 Nan count: 0
big Dave_white type: float64 Nan count: 0
big Dave_black type: float64 Nan count: 0
Tom_white type: float64 Nan count: 0
Tom_black type: float64 Nan count: 0
Duffer_white type: float64 Nan count: 0
Duffer_black type: float64 Nan count: 0
Pascal_white type: float64 Nan count: 0
Pascal_black type: float64 Nan count: 0
Owen greenersfriend_white type: float64 Nan count: 0
Owen greenersfriend_black type: float64 Nan count: 0
Barron_white type: float64 Nan count: 0
Barron_black type: float64 Nan count: 0
Sean Douglas_white type: float64 Nan count: 0
Sean Douglas_black type: float64 Nan count: 0
Randomer0_white type: float64 Nan count: 0
Randomer0_black type: float64 Nan count: 0
Randomer1_white type: float64 Nan count: 0
Randomer1_black type: float64 Nan count: 0
Randomer2_white type: float64 Nan count: 0
Randomer2_black type: float64 Nan count: 0
Randomer3_white type: float64 Nan count: 0
Randomer3_black type: float64 Nan count: 0
Randomer4_white type: float64 Nan count: 0
Randomer4_black type: float64 Nan count: 0
Randomer5_white type: float64 Nan count: 0
Randomer5_black type: float64 Nan count: 0
Randomer6_white type: float64 Nan count: 0
Randomer6_black type: float64 Nan count: 0
Randomer7_white type: float64 Nan count: 0
Randomer7_black type: float64 Nan count: 0
Randomer8_white type: float64 Nan count: 0
Randomer8_black type: float64 Nan count: 0
Randomer9_white type: float64 Nan count: 0
Randomer9_black type: float64 Nan count: 0
result type: float64 Nan count: 0
rainfall type: float64 Nan count: 0

In [33]:
target = combined.pop('result')
target

0      1.0
1      0.5
2      1.0
3      1.0
4      1.0
      ...
189    0.0
190    0.0
191    0.0
192    0.0
193    0.0
Name: result, Length: 194, dtype: float64

In [34]:
dataset = tf.data.Dataset.from_tensor_slices((combined.values, target.values))

for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

dataset = dataset.shuffle(len(combined)).batch(1)

## Need to maximise our training dataset, so we just use a subset for validation
train_size = int(0.9 * len(dataset))

train_dataset = dataset
val_dataset = dataset.skip(train_size)

print("Total rows: " + str(len(dataset)))
print("Training set: " + str(len(train_dataset)))
print("Validation set: " + str(len(val_dataset)))

Features: [0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0.], Target: 1.0
Features: [0.  0.1 1.  0.  0.  0.1 0.  0.  0.  0.1 1.  0.  1.  0.  0.  0.  1.  0.
 0.  0.  1.  0.  0.  0.  0.  0.1 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
 0.  0.  0.  0.  0.  0.1 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
 0.  0.  0.  0.  0.  0.  0. ], Target: 0.5
Features: [1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0.], Target: 1.0
Features: [0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0.], Target: 1.0
Features: [1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0.], Target: 1.0
Total rows: 194
Training set: 194
Validation set: 20

In [35]:
tf.keras.backend.set_floatx('float64')

def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.MeanSquaredError() ,
                metrics=['accuracy'])
  return model

model = get_compiled_model()
model.fit(train_dataset,validation_data=val_dataset, epochs=12)

Epoch 1/12
194/194 [==============================] - 1s 1ms/step - loss: 0.2691 - accuracy: 0.5052 - val_loss: 0.1752 - val_accuracy: 0.7500
Epoch 2/12
194/194 [==============================] - 0s 1ms/step - loss: 0.2090 - accuracy: 0.5928 - val_loss: 0.1679 - val_accuracy: 0.6000
Epoch 3/12
194/194 [==============================] - 0s 1ms/step - loss: 0.1813 - accuracy: 0.6753 - val_loss: 0.1086 - val_accuracy: 0.8000
Epoch 4/12
194/194 [==============================] - 0s 1ms/step - loss: 0.1564 - accuracy: 0.7113 - val_loss: 0.1068 - val_accuracy: 0.7000
Epoch 5/12
194/194 [==============================] - 0s 1ms/step - loss: 0.1383 - accuracy: 0.7474 - val_loss: 0.1562 - val_accuracy: 0.7000
Epoch 6/12
194/194 [==============================] - 0s 1ms/step - loss: 0.1263 - accuracy: 0.7526 - val_loss: 0.0915 - val_accuracy: 0.9000
Epoch 7/12
194/194 [==============================] - 0s 1ms/step - loss: 0.1118 - accuracy: 0.8041 - val_loss: 0.0891 - val_accuracy: 0.8000
Epoch 8/12
194/194 [==============================] - 0s 1ms/step - loss: 0.1016 - accuracy: 0.8093 - val_loss: 0.0915 - val_accuracy: 0.7500
Epoch 9/12
194/194 [==============================] - 0s 1ms/step - loss: 0.0934 - accuracy: 0.8299 - val_loss: 0.0539 - val_accuracy: 0.9500
Epoch 10/12
194/194 [==============================] - 0s 1ms/step - loss: 0.0851 - accuracy: 0.8196 - val_loss: 0.0498 - val_accuracy: 1.0000
Epoch 11/12
194/194 [==============================] - 0s 1ms/step - loss: 0.0742 - accuracy: 0.8454 - val_loss: 0.0874 - val_accuracy: 0.7500
Epoch 12/12
194/194 [==============================] - 0s 1ms/step - loss: 0.0672 - accuracy: 0.8608 - val_loss: 0.0575 - val_accuracy: 0.9000

In [17]:
from src.team_selection import TeamSelection
from src.potential_selections_generator import generate_all_possible_selections

##pick all possible team combinations for testing

tonights_players = ['Darren', # 'Darren', 'Greener'
 'Peter Hogan',
 'Gav',
 'Conor Kk',
 'Clarkey',
 'Mark',
 'Tim',
 'Conor Mc',
 'Paul',
                   formRandomerName(0)]

if len(tonights_players) != 10:
    raise Exception('Invalid number of players!')

potential_selections = generate_all_possible_selections(tonights_players)


print("Number of potential different combinations: %i" % len(potential_selections))

Number of potential different combinations: 252

In [18]:
most_fair = None
biggest_white = None
biggest_black = None

blank_table = combined[0:0]

for selection in potential_selections:
    inp = blank_table.copy()
    inp = inp.append(pd.Series(0, index=inp.columns), ignore_index=True)
    for white_player in selection.white:
        inp[white_player + '_white'] = 1.0
    for black_player in selection.black:
        inp[black_player + '_black'] = 1.0
        
    ## Set weather
    inp['rainfall'] = 0.0
    
    selection.rating = model.predict(inp.values)
    
    if (most_fair == None) or (abs(selection.rating - 0.5) < abs(most_fair.rating - 0.5)):
        most_fair = selection
        
    if (biggest_white == None) or (selection.rating > biggest_white.rating):
        biggest_white = selection
        
    if (biggest_black == None) or (selection.rating < biggest_black.rating):
        biggest_black = selection
        

print('Fairest')
print(most_fair)
print(most_fair.rating)

print('Largest white victory')
print(biggest_white)
print(biggest_white.rating)

print('Largest black victory')
print(biggest_black)
print(biggest_black.rating)

Fairest
white team: ['Gary Hogan', 'Conor Kk', 'Mark', 'Tim', 'Conor Mc'], black team: ['Peter Hogan', 'Gav', 'Clarkey', 'Paul', 'Randomer0']
[[0.49783893]]
Largest white victory
white team: ['Peter Hogan', 'Conor Kk', 'Clarkey', 'Conor Mc', 'Randomer0'], black team: ['Gary Hogan', 'Gav', 'Mark', 'Tim', 'Paul']
[[1.39420656]]
Largest black victory
white team: ['Gary Hogan', 'Gav', 'Conor Kk', 'Clarkey', 'Tim'], black team: ['Peter Hogan', 'Mark', 'Conor Mc', 'Paul', 'Randomer0']
[[-0.35842406]]

In [19]:
from src.team_selection import TeamSelection

## This section gets the odds for an already chosen team  
print('teams chosen')

selection = TeamSelection()

selection.white = ['Greener', 'Conor Mc', 'Conor Kk',  'Clarkey', 'Brian']
selection.black = ['Mark', 'Gav', 'Tim', 'Darren', formRandomerName(0)]

input = blank_table.copy()
input = input.append(pd.Series(0, index=input.columns), ignore_index=True)
for white_player in selection.white:
    input[white_player + '_white'] = 1.0
for black_player in selection.black:
    input[black_player + '_black'] = 1.0

## Set weather
input['rainfall'] = 0.0

rating = model.predict(input.values)

print(rating)

teams chosen
[[0.97120879]]